.sort-display{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: flex-end;

    &__item{
        flex: 1;
        border: 1px solid #fff;
        margin: 0 1px;

        &--no-border{
            border: none;
        }

        @media only screen and (max-width: 800px) {
            border: none;
        }

        @media only screen and (max-width: 500px) {
                margin: 0;
        }
    }
}





