


.custom-range-input{
 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: .5rem 0 .5rem 0;
    position: relative;


    label{
        margin-bottom: .6rem;
    }

    input[type="range"]{
        width: 100%;
        -webkit-appearance: none;
        outline: none;
        background: none;
    }

    @mixin range-track() {
        height: 8px;
        background: #000;
        -webkit-appearance: none;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: inset 0px 1px 2px rgba(55,55,55,1);
    }
    
    @mixin range-thumb() {
		-webkit-appearance: none;
        background-color: #000;
        border: 3px solid #fff;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-top: -8px;
        cursor: pointer;
        position: relative;
	}




    input[type="range"] {
        &::-webkit-slider-runnable-track{
            @include range-track();
        }
        &::-ms-track{
            @include range-track();
        }
        &::-moz-range-track{
            @include range-track();
        }
        // thumb
        &::-webkit-slider-thumb {
            @include range-thumb();
        }
        &::-moz-range-thumb {      
            @include range-thumb();
            width: 14px;
            height: 14px;
           
        }
        &::-ms-thumb {
            @include range-thumb();
            width: 14px;
            height: 14px;
            margin-top: 0px;
        }
    }

    input[type="range"]:hover + div{
        visibility: visible;
        opacity: 1;
    }

    div{
        padding: 0 .5rem;
        color: #fff;
        font-size: 1.1rem;
        position: absolute;
        left: calc(var(--offset-left));
        transform: translateX(-50%);
        top: -2.4rem;
        background: #333;
        padding: .3rem .5rem;
        border-radius: .2rem;
        border: 1px solid #eee;
        user-select: none;
        visibility: hidden;
        opacity: 0;
        transition: .3s all;
    }

}